$color_white: "#fff";
$color_yellow: "#E9A239";
$font-family: "Poppins", sans-serif !important;
$login_bg_color: "#f5f5f5";
$font-family: "Poppins" !important;
$primary: #ef8c31;
$blackColor: #000000;
$white: #ffffff;
$rowHover: #edd6bf;
$inputLabel: #343a40;
$btnText: #464646;
$font-family: "Poppins" !important;
$color_white: "#fff";
$color_yellow: "#E9A239";
$light_grey: "#eaeaea"
